.container{
  width: 100%;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 500px;
  overflow: hidden;
}
.btn-login{
  width:200px;
}

.login-content{
  height: 100%;
}
