<form [formGroup]="bookForm" (ngSubmit)="onSubmit()" class="container_addBook">
  <div class="content_addBook">
    <h1 style="text-align: center;">TELA DE EDIÇÃO DO LIVRO</h1>
    <div class="container_item">
      <label for="name">Nome do Autor: </label>
      <input type="text" formControlName="name" placeholder="Titulo do Livro" class="item_addBook" />
    </div>
    <div class="container_item">
      <label for="name">Nome do Autor: </label>
      <input type="text" formControlName="author" placeholder="Autor(a) do Livro" required="" class="item_addBook" />
    </div>
    <div class="container_item">
      <label for="name">Resumo da Obra: </label>
      <input type="text" formControlName="description" placeholder="Resumo Breve do Livro" class="item_addBook" />
    </div>
    <div class="container_item">
      <label for="name">Data de Lançamento: </label>
      <input type="date" formControlName="dateRelease" placeholder="Data de Lançamento do Livro" class="item_addBook" />
    </div>
    <div class="container_item">
      <button type="submit" class="item_addBook">Salvar</button>

    </div>
  </div>
  </form>

