<div class="content-login">
    <h2>Login</h2>
    <form id="login-form">
      <div>
        <label htmlFor="email">
          Email
        </label>
        <input type="email" placeholder="DIGITE SEU E-MAIL" class="input_login">
      </div>
      <div>
        <label htmlFor="password">
          Senha
        </label>
        <input type="password" placeholder="DIGITE SEU SENHA" class="input_login">
      </div>
      <div class="btn_submit">
        <button form="login-form" type="submit">
          Enviar
        </button>
      </div>
    </form>
  </div>
