<div>
  <h1>Lista de Livros</h1>
  <div class="container-lista">
    <Button class="btn-style" [routerLink]="['/add-book']">Adicionar Livro </Button><br /><Button
      class="btn-style"
    >
      Editar
    </Button>
  </div>
  <ul>
    @for (book of books; track books){
    <li class="content-list">
      <span class="item">Nome do livro: <br />{{ book.name }}</span>
      <span class="item">Autor: <br />{{ book.author }}</span>
      <div class="item">
        Detalhes do livro: <br /><button class="btn-style">Saiba mais</button>
      </div>
    </li>
    }
  </ul>
</div>
